*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #dcdcdc;
}
header{
    background-color: #c63d2f;
}
h1{
    color: #c63d2f;
}

form{
    width: 400px;
    height: 520px;
background-image: url('./toretto-cont.jpg');
border-radius: 20px;
padding-top: 25px;
padding-right: 15px;

margin: 0 auto;

}
form div{

    margin-bottom: 20px;
    text-align: center;
}
form button{
    width: 60px;
    height: 20px;
    color: white;
    border-radius: 50px;
    background-color:#c63d2f;
    border: none;
    margin-bottom: 5px;
}
.contenedor{
    display: flex;
    flex-direction: column;
}
input{
    
  height: 30px;  
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;

}
label{
    font-size: 30px;
    color:#c63d2f;
    font-weight: 600;
}
#consulta{
    text-align: start;

    
}

