*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./auto-toreto.jpg');
    background-position: center;

}
header{
    background-color: #c63d2f;
}
h1{
    color: white;
}

form{
    width: 430px;
    height: 520px;
background-image: url('./toretto-cont.jpg');
border-radius: 20px;
padding-top: 23px;
margin: 0 auto;

}
form div{

    margin-bottom: 25px;
    text-align: center;
}
form button{
    width: 60px;
    height: 20px;
    color: white;
    border-radius: 50px;
    background-color:#c63d2f;
    border: none;

}
.contenedor{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}
input{
    
  height: 30px;  
  border: none;
  border-radius: 5px;

}
label{
    font-size: 30px;
    color:#c63d2f;
    font-weight: 600;
}
#consulta{
    width: 69%;
    margin: 0 auto;
    text-align: start;
}
#contenedorConsulta{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

