


img {
    width: 153px;
    height: 229px;;
    border-radius: 15px;
}
li {
    font-size: 20px;
}
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#C63D2F;
}
.tarjeta:hover{
    transform: scale(1.1);
    color: white;

}
.tarjeta{
    width: 300px;
    height:300px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: rgb(10, 10, 10)0px 5px 12px;
}

.nombre {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top:100px;
    
}
