*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
    height: 200px;
    background-color: black;
}
header a img{
    width: 130px;
    height: 100px;
}
h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Bungee Spice';
}
h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(240, 76, 11);
    
}
img {
    width: 153px;
    height: 229px;;
    border-radius: 15px;
}
li {
    font-size: 20px;
}
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#C63D2F;
}
.tarjeta:hover{
    transform: scale(1.1);
    color: white;

}
.tarjeta{
    width: 300px;
    height:300px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: rgb(10, 10, 10)0px 5px 12px;
}

.nombre {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top:100px;
    
}
footer{
    margin-top: 30px;
    background-color: rgb(214, 209, 209);
}
footer h3{
    display: inline;

}
footer img{
    width: 100px;
    height: 70px;
    display: inline;
}
.contenedorFooter{
    text-align: center;
}
footer .infoFooter{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}