
span{
    position: fixed;
    display: block;
    margin-left: 92%;
    margin-top: 300px;
    img{
        width: 70px;
        height: 70px;
    
    }
}

img {
    width: 153px;
    height: 229px;;
    border-radius: 15px;
}
li {
    font-size: 20px;
}
.personajes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#C63D2F;
}
.biografia{
    
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px 0;
    p{
        text-align: center;
        width: 50%;
        color:p;
    }
    background-color:#bfbfbf;
}
.biografia img{
    align-self:center;
}
.tarjeta:hover{
    transform: scale(1.1);
    color: white;

}
.tarjeta{
    width: 300px;
    height:auto;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: rgb(10, 10, 10)0px 5px 12px;
    
}
section{
    width: 80%;
    margin: 0 auto;

}
button{
        margin-top: 10px;
        background-color: black;
    a{
        color: white;
    }
    }

.nombre {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top:100px;
    
}
