* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color:black;
}
h1{
    
    font-size: 65px;
    font-family: 'Bungee Spice';
    
}
section{
    width: 80%;
    margin: 0 auto;
}
h2 {
    text-align: center;
    font-size: 40px;
    color:rgb(240, 76, 11);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
    

#logo {
    width: 130px;
    height: 100px;
}


p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collage{
    text-align: center;
}
.collage  img{
    display:inline-block;
    margin: 0 auto;
    width: 250px;
    height: 180px;
    border: solid 1px black;
}
footer{
    margin-top: 30px;
    background-color: rgb(214, 209, 209);
}
footer h3{
    display: inline;

}
footer img{
    width: 100px;
    height: 70px;
    display: inline;
}
.contenedorFooter{
    text-align: center;
}
footer .infoFooter{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}