
section{
    width: 80%;
    margin: 0 auto;
}
section #videoTrailer{
    width: 100%;
    height: 500px;
    margin-top: 5px;
}
p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collage{
    text-align: center;
}
.collage  img{
    display:inline-block;
    margin: 0 auto;
    width: 240px;
    height: 180px;
    border: solid 1px black;
}

.galeria{
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./imanesDeProtagonistas/auto-brain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}   
figure{
    transition: transform 0.4s ease;
} 
figure:hover{
    transform: scale(1.3);
}
figcaption{
    color: white;
}

.fotoProtagonistas{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 10px;
}



