
section{
    width: 80%;
    margin: 0 auto;
}
section #videoTrailer{
    width: 100%;
    height: 500px;
    margin-top: 5px;
}
p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collage{
    text-align: center;
}
.collage  img{
    display:inline-block;
    margin: 0 auto;
    width: 240px;
    height: 180px;
    border: solid 1px black;
}

.galeria{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
figure:hover{
    animation: foto 5s;
    
}

.fotoProtagonistas{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 10px;
}

@keyframes foto{
    0%{
        transform: scale(1.0);
    }
    
    50%{
        transform: scale(1.5);
        
    }
    100%{
        transform: scale(1.0);
    }
}