
section{
    width: 80%;
    margin: 0 auto;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collage{
    text-align: center;
}
.collage  img{
    display:inline-block;
    margin: 0 auto;
    width: 240px;
    height: 180px;
    border: solid 1px black;
}
