@media(width < 767px){
    ul{
        display: none;
    }
    h1{
        font-size: 20px;
    }
    #panelHamburguesa{
        display: none;
    }
    #hamburguesa{
        display: block;
        text-align: end;
        margin-right: 5px;
    }
    .contenedorDeVideos{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .video{
    height: 400px;
     }
}