@media(width < 767px){
    
    ul:target{
        right: 0;
    }
    ul{
        display: block;
        position: fixed;
        top: 45px;
        width: 200px;
        right: -200px;
        background-color: black;
        border: solid 1px white;
        transition: right 2s ease;
    }
    nav{
        position: relative;
    }
    #abrir,
    #cerrar{
        position: absolute;
        right: 10px;
        text-align: end;
    }
    #abrir{
        display: block;
        
    }
    ul:target ~ #abrir{
        display: none;
        
    }
    #cerrar{
        
        display: none;

    }
    ul:target ~ #cerrar{
        display: block;
    
    }
    li{
        width: 180px;
        display: block;
        margin: 5px auto;
        text-align: center;
    }
    img{
        height: 400px;
    }
    h1{
        font-size: 24px;
        margin-bottom: 15px;
    }
    h2{
        font-size: 24px;
    }
    
    section #tituloVideo{
        width: 100%;
        padding-left: 5px;
    }
    .contenedorDeVideos{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .video{
    height: 400px;
     }
     .contenedorFooter{
        display: flex;
        flex-direction: column;
     }
     .contenedorFooter a{
        margin: 20px 0;
     }
     .contenedorFooter img{
        width: 80%;
        height: 220px;
        margin-bottom: 20px;
     }
}
@media(width < 550px){
    img{
        height: 300px;
    }
    .video{
        height: 300px;
    }
}
@media(width < 430px){
    html, body{
        overflow-x: hidden;
    }

   h1{
    text-align: start;
    margin-left: 15px;
   }
#mapa{
    width: 90%;
}
#tituloMapa{
    width: 100%;
}

}