*  {  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  text-align: center;
    color:rgb(240, 76, 11) ;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
h1 {
    font-size: 70px;
    text-align: center;
    
    margin-bottom: 30px;
    font-family: 'Bungee Spice';
}
.headerGlobal{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color:black;
}
#logo {
    width: 130px;
    height: 100px;
}
footer{

    margin-top: 30px;
    background-color: rgb(214, 209, 209);
}
footer img{
    width: 150px;
    height: 100px;
    
}
.contenedorFooter{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
  h3{
    text-align: center;
    margin-top: 40px;
  }
  
}
footer .infoFooter{
    margin-top: 25px;
text-align: center;
    
}