@media(1024px < width < 1360px){
    .contenedorDeVideos{
        grid-template-rows: 300px 300px 300px;
    }
    #video2{
        grid-area: 1/3/2/5;
    }
    #video3{
        grid-area: 2/3/3/5;
    }
    #video4{
        grid-area: 3/1/4/3;
    }
    #video5{
        grid-area: 3/3/4/5;
    }
}