* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul{
    text-align: end;
}
li {
    display: inline-block;
    height: 30px;
    padding: 5px;
    background-color:rgb(240, 76, 11);
    
}
a{
    color:black;
    text-decoration: none;
}
h1 {
    font-size: 70px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-family: 'Bungee Spice';
}
h2 {
    text-align: center;
    color:rgb(240, 76, 11) ;
    font-size: 40px;
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 img {
    display: block;
  width: 80%;
  height: 500px;
  margin: 0 auto;  
}

header {
    background-color: black;
    margin-bottom: 30px;
}

section p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    
}
footer{
    margin-top: 30px;
    background-color: rgb(214, 209, 209);
}
footer h3{
    display: inline;

}
footer img{
    width: 100px;
    height: 70px;
    display: inline;
}
.contenedorFooter{
    text-align: center;
}
footer .infoFooter{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}