*  {  margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    text-align: end;
}
li:hover{
    background-color: white;
    
}
li {
    display: inline-block;
    height: 30px;
    padding: 5px;
    background-color:rgb(240, 76, 11);
    border-radius: 5px;
}
a{
    color:black;
    text-decoration: none;
}


 img {
    display: block;
  width: 80%;
  height: 500px;
  margin: 0 auto;  
}

header {
    background-color: black;
    margin-bottom: 30px;
}

section p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
section #tituloVideo{
    width: 80%;
    margin: 20px auto;
    text-align: start;

}
.iframeVideo{
    width: 100%;
    height:100%;
}
.video{
    width: 100%;
    height: 100%;
}
.contenedorDeVideos{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 200px;
    gap: 10px;

}
#video1{
    grid-area: 1/1/3/3;
}
 #mapa{
    width: 400px;
    height: 200px;
    display:block;
    margin: 0 auto;
}

