@media( 767px < width < 1024px){
    h1{
        font-size: 50px;
    }
    #panelHamburguesa{
        display: none;
    }
    #abrir{
        display: none;
    }
    #cerrar{
        display: none;
    }
    section #tituloVideo{
        width: 90%;
    }
    section p{
        width: 90%;
    }
    img{
        width: 90%;
    }
    .contenedorDeVideos{
        width: 90%;
        grid-template-rows: repeat(3,300px);
    }
    #video1{
        grid-area: 1/1/2/3;
    }
    #video2{
        grid-area: 1/3/2/5;
    }
    #video3{
        grid-area: 2/1/3/3;
    }
    #video4{
        grid-area: 2/3/3/5;
    }
    #video5{
        grid-area: 3/2/4/4;
    }
}