@media(width < 767px){
    .headerGlobal{
        height: 60px;
       
    }
    section{
        width: 100%;
    }
    article{
        width: 100%;
    }
    h1{
        font-size: 30px;
        margin-top: 30px;
    }
    h2{
        font-size: 30px;
    }
     #logo{
        width: 80px;
      height: 70px;
        margin-top: 10px;}
        section img{
            width: 100%;
        }
         .contenedorFooter{
        display: flex;
        flex-direction: column;
     }
     .contenedorFooter a{
        margin: 20px 0;
     }
     .contenedorFooter img{
        width: 80%;
        height: 220px;
        margin-bottom: 20px;
     }
}
@media(width < 510px){
    h1{
        font-size: 22px;
    }
     #logo{
        width: 50px;
        height: 50px;
    }
   
}