*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./auto-6.jpg');
    background-repeat: no-repeat;
    text-align: center;
    
}
h1{
    color:#c63d2f;
    margin-bottom: 30px;
    font-size: 40px;
}
p{
    color: white;
    font-size: 25px;
}
a{
    display: inline-block;
    margin-top: 50px;
    font-size: 25px;
    text-decoration: none;
    color:darkred;
}
div{
    margin:80px;
}