*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
img{
    width: 250px;
    margin-top: 50px;
}
a{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
}