*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    width: 80%;
    margin: 0 auto;
}
section img{
    display: inline-block;
    width: 300px;
    height: 450px;
    
}
section .foto2{
    height: 450px;
}
.collage{
    text-align: center;
}
