*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;}
header a img{
    width: 130px;
    height: 100px;
}
header{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Bungee Spice';
}
h2{
    text-align: center;
    font-size: 40px;
    color: rgb(240, 76, 11);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    width: 80%;
    margin: 0 auto;
}
section img{
    display: inline-block;
    width: 300px;
    height: 450px;
    
}
section .foto2{
    height: 450px;
}
.collage{
    text-align: center;
}
footer{
    margin-top: 100px;
    margin-top: 30px;
    background-color: rgb(214, 209, 209);
}
footer h3{
    display: inline;

}
footer img{
    width: 100px;
    height: 70px;
    display: inline;
}
.contenedorFooter{
    text-align: center;
}
footer .infoFooter{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}