*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section p{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    width: 80%;
    margin: 0 auto;
}
section img{
    display: inline-block;
    width: 300px;
    max-width: 100%;
    height: auto;
    
}

.collage{
    text-align: center;
}
article{
    width: 80%;
    margin: 0 auto; 
    text-align: center;
    
}
iframe{
    width:100%;
    max-width:100%;
aspect-ratio: 16/9;
display: block;
}
body{
    overflow-x:hidden;
}