@media(width <= 767px){
    .headerGlobal{
        height: 60px;
        margin-bottom: 0px;
    }
    .personajes{
        width: 100%;
    }
    
    h1{
        font-size: 24px;
        margin-top: 30px;
    }
    h2{
        font-size: 30px;
    }
 #logo{
        width: 80px;
        height: 70px;
        margin-top: 10px;
    }
span{
        margin-left: 87%;
        img{
            width: 50px;
            height: 50px;
        }
    }}
    @media(width <=680px){
        .biografia{
            flex-direction: column;
            p{
                width: 90%;
                margin: 0 auto;
            }
        }
   #logo{
    width: 50px;
    height: 50px;
   }
   h1{
    font-size: 22px;
   }
    }