@media(767px < width < 1024px){
    .headerGlobal{
        height: 120px;
    }
    #logo{
        width: 110px;
        height: 90px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .personajes{
        width: 90%;
    }
    span{
        margin-left: 87%;
        img{
            width: 50px;
            height: 50px;
        }
    }
}