@media(width < 767px){
    #cartelAnimado{
        font-size:35px ;
    }
     .headerGlobal{
    
        height: 60px;
        margin-bottom: 0px;
    }
    h1{
        margin-top: 30px;
        font-size: 24px;
    }
     h2{
        font-size: 30px;
    }
    section h3{
        font-size: 25px;
    }
      
    #logo{
        width: 80px;
      height: 70px;
        margin-top: 10px;}
    #estreno{
        font-size: 30px;
    }
     .contenedorFooter{
        display: flex;
        flex-direction: column;
     }
     .contenedorFooter a{
        margin: 20px 0;
     }
     .contenedorFooter img{
        width: 80%;
        height: 220px;
        margin-bottom: 20px;
     }
}
@media(width <= 510px){
    #cartelAnimado{
        font-size: 25px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 22px;
    }
    #estreno{
        font-size: 25px;
    }
}