@media( 767px < width < 1024px){
     .headerGlobal{
        height: 90px ;
        
    }
    #logo{
        width: 110px;
        height: 90px;
        margin-top: 10px;
    }
    h1{
        font-size: 40px;
        margin-top: 25px;
    }
    h2{
        font-size: 30px;
    }
}