@media(width < 767px){
    #cartelAnimado{
        font-size:35px ;
    }
     .headerGlobal{
        height: 60px;
        margin-bottom: 0px;
    }
    h1{
        margin-top: 30px;
        font-size: 24px;
    }
    #logo{
        width: 80px;
        height: 70px;
        margin-top: 10px;
    }
}
@media(width <= 510px){
    #cartelAnimado{
        font-size: 30px;
    }
}