@media(width < 767px){
    .headerGlobal{
        height: 60px;
       
    }
#logo{
        width: 80px;
        height: 70px;
        margin-top: 10px;
    }
h1{
font-size: 30px;
}
form{
    width: 390px;
    height: 490px;
    div{
        margin-bottom: 15px;
    }
    button{
        width: 100%;
        height: 30px;
    }
}
.contenedor{
    width: 75%;
    
}
.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
#contenedorConsulta{
    width: 75%;
}
label{
    font-size: 25px;
}
}
@media(width < 500px){
    form{
    width: 340px;
    div{
        margin-bottom: 10px;
    }
    height:460px ;
}
.contenedor{
    width: 90%;
    
}
#contenedorConsulta{
    width: 90%;
}
#logo{
        width: 60px;
        height: 60px;
    }
}