@media(767px < width < 1024px){
    .headerGlobal{
        height: 120px ;
        
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .galeria{
        position: relative;
        height: 400px;
        flex-wrap: wrap;
    }
    .figure{
        position: absolute;
    }
    .fotoProtagonistas{
        margin: 0 20px;
    }
    p{
        text-align: center;
    }
    #logo{
        width: 110px;
        height: 90px;
    }
    #contenedorFicha ul{
text-align: center;
    }
}