@media(width <= 767px){
    
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 24px;
    }
    p{
        text-align: center;
    }
    #logo{
        width: 80px;
        height: 70px;
    }
    .galeria{
        height: 400px;
        display: grid;
        grid-template-columns: 100px 100px;
        grid-auto-rows: 100px;
        place-content: center;
        gap: 40px;
    }

   .fotoProtagonistas{
    width: 100px;
    height: 100px;
   }
    section{
        width: 90%;
    }
     .contenedorFooter{
        display: flex;
        flex-direction: column;
     }
     .contenedorFooter a{
        margin: 20px 0;
     }
     .contenedorFooter img{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
     }

}