*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
img{
    width: 400px;
}
a{
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color:#c63d2f;
}
h1{
    color: red;
}